<h1>Welcome to Book-a-Nook!</h1>
<p>
  You have been successfully signed up to bookanook.com<br><br>
  Login to the site : <%= link_to "Sign In | Book-a-Nook", new_user_session_url %><br><br>
  Your username : <b> <%= @user.email %></b><br>
  Your password : <b> <%= @user.password %></b><br>
</p>
<p>
  <%= link_to "Click here", edit_user_registration_url %> to update your account and passsword. 
</p>
<p>Have a great day!</p>
