// Place all the styles related to the admin/reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin .edit_reservation {
  label.datetime {
    width: 10%;
  }

  select.datetime {
    width: 20%;
    display: inline;
  }

  .form-group {
    select:nth-of-type(3) {
      width: 10%;
    }
    select:nth-of-type(4), select:nth-of-type(5) {
      width: 11%;
    }
  }
}
