development:
  google_key: 'google_key'
  google_secret: 'google_secret'
  maps_api_key: 'google_maps_api_key'

test:
  google_key: 'google_key'
  google_secret: 'google_secret'
  maps_api_key: 'google_maps_api_key'

production:
  google_key: 'google_key'
  google_secret: 'google_secret'
  maps_api_key: 'google_maps_api_key'
