<ul class="nav nav-pills">
  <li role="presentation"><%= link_to 'Locations', locations_path %></li>
  <li role="presentation" class="active"><%= link_to 'Nooks', nooks_path %></li>
  <li role="presentation"><%= link_to 'Users', nooks_path %></li>
  <li role="presentation"><%= link_to 'Reservations', nooks_path %></li>
</ul>
