.time-select {

  &.unselectable {
    .col-sm-6 {
      margin-bottom: 0 !important;

      & + .col-sm-6 {
        margin-left: -1px !important;
      }
    }
    .time-slot {
      padding-right: 0 !important;

      button {
        border: none !important;
        pointer-events: none;
        &.right {
          margin-left: 0 !important;
        }
      }
    }
  }

  .col-sm-6 {
    padding: 0;
    width: 50%;
    line-height: 1em;
    margin-bottom: 7px;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-1, .col-sm-6 {
    float: left;
  }

  .time-slot {
    padding-left: 0;
    padding-right: 1px;
    position: relative;

    button {
      height: 40px;
      width: 50%;
      padding: 0;
      border-radius: 0;

      &.open {
        background-color: #ffffff;
        border: 1px solid #d4d3d1;
      }

      &.selected {
        background-color: #ec137c;
        border: none;
      }

      &.taken {
        background-color: #e9e9e9;
        border: none;
        cursor: default;

        &.selected {
          background-color: #ec137c;
          opacity: 0.5;
        }
      }

      &.right {
        margin-left: -1px;
      }
    }

    span.small {
      font-size: 10px;
      line-height: 18px;

      &:before {
        content: " ";
        position: absolute;
        bottom: 15px;
        left: 0px;
        border-left: 1px solid #C1C1C1;
        height: 5px;
      }
    }
  }
}

.form-field--open-at-field {
  label {
    float: none;
  }
}
