<header class="header">
  <h1 class="header-heading"><%= content_for(:title) %></h1>
  <div class="header-actions">
    <%= link_to(
      "New #{page.resource_name.titleize.downcase}",
      [:new, namespace, page.resource_name],
      class: "button",
    ) %>
  </div>
</header>
