<% content_for(:search) do %>
  <form class="search">
    <span class="search__icon">
      <%= image_tag "administrate/search.svg", width: 18, height: 18 %>
    </span>
    <input
      type="text"
      name="search"
      class="search__input"
      placeholder="Search"
      value="<%= search_term %>"
    />
    <span class="search__hint">
      Press enter to search
    </span>
  </form>
<% end %>
